{% extends 'base.html' %}

{% block body %}

<div>
    <a href="{% url 'note.add' %}" type="button" class="btn btn-light">
        <i class="fa fa-plus"></i> Cadastrar nova notinha
    </a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Veiculo</th>
                <th scope="col">Placa</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{note.vehicle_model}}</td>
                <td>{{note.plate}}</td>
                <td>{{note.total_value}}</td>
                <td>
                    <a href="{% url 'note.detail' note.id %}">
                        <i class="fa fa-asterisk"></i>
                        Detalhes
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}