{% extends 'base.html' %}
{% block body %}
<div>

    <h1 class="ml-2">{{note.vehicle_model}} - {{note.plate}}</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Peça/Serviço</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{item.description}}
                </td>
                <td>{{item.value}}</td>
                <td>
                    <div class="text-center">
                        <a href="{% url 'item.update' item.id %}" type="button" class="btn btn-light">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="#" type="button" class="btn btn-light">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'item.add' note.id %}" type="button" class="btn btn-light">
        <i class="fa fa-plus"></i> Cadastrar novo item
    </a>
    <a href="{% url 'note.update' note.id %}" type="button" class="btn btn-light">
        <i class="fa fa-edit"></i> Editar Nota
    </a>
    <a href="#" type="button" class="btn btn-light">
        <i class="fa fa-trash"></i> Excluir nota
    </a>
    <div class="list-group container mt-4">
        <li class="list-group-item list-group-item-action list-group-item-light">
            <strong>Situação: </strong>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-light">
            <strong>Valor Total da nota: </strong>{{note.total_value}}
        </li>
        <li class="list-group-item list-group-item-action list-group-item-light">
            <ul><strong>Observações</strong>
                <a href="{% url 'observation.add' note.id %}" type="button" class="btn btn-light">
                    <i class="fa fa-plus"></i> Adicionar observação
                </a>
                {% for obs in observations %}
                <li>{{obs.observation}}</li>
                {% endfor %}
            </ul>

        </li>
    </div>
</div>
{% endblock %}